<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cricket</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <style>
      .center {
        margin: auto;
        width: 50%;
        padding: 100px;
      }
    </style>
  </head>
  <body background="https://thumbs.dreamstime.com/b/cricket-pitch-sport-grass-field-empty-background-cricket-pitch-sport-grass-field-empty-background-146687259.jpg">
    <div class="center">
    <a href="/response"><button type="button" class="btn btn-outline-dark">View Paginated Response</button></a>
    </div>
    <div class="center">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>